.nodes:hover {
    cursor: pointer;
}

.nodes .outerCircle:hover {
    -webkit-filter: drop-shadow(3px 3px 5px #868686);
}

.nodes .outerCircle {
    -webkit-filter: drop-shadow(1px 1px 0.5px #868686);
}
